<div ng-controller="HomeCtrl">
    <et-header></et-header>
    <div class="et-content">
        <p><a href="http://github.vaibhavpandey.com/etoolkit">eToolkit</a> is an online toolkit to perform common confidential tasks I use to do on a regular basis including <strong>Generating Random Passwords</strong>, <strong>Base64 decoding &amp; encoding</strong>, <strong>Text Hashing</strong> using <strong>MD5/SHA-1/SHA-224/SHA-256/SHA-512</strong> algorithms, <strong>Character Counting</strong> and things.</p>
        <p>I admit there are various tools available online for the purpose and undoubtedly I have been using them. Even more, major functions of <a href="http://github.vaibhavpandey.com/etoolkit">eToolkit</a> are inspired if not powered by them. But I did not like the idea of submitting confidential content to a website or application which is not open for review.</p>
        <p>For most random websites those they appear in google search, following concerns arise in my mind whenever I am using their services:</p>
        <ul>
            <li>The <strong>password</strong> I am generating might be <strong>stored on their server</strong></li>
            <li>The <strong>text</strong> I am <strong>hashing</strong> might be <strong>saved in rainbow tables</strong> for <em>reverse-lookups</em></li>
            <li>I do not want to reload a page just to <strong>Base64</strong> <em>encode</em> or <em>decode</em> a word. That feels creepy</li>
        </ul>
        <p>For addressing all those concerns and try to solve the most, I made this tiny-little <a href="https://angularjs.org/">angular</a> powered web-app that does all of those in your browser (doesn't send a thing to server) and open-sourced it here on <a href="http://www.github.com/vaibhavpandeyvpz/etoolkit">Github</a> because this how things I wanted these tools to be. <strong>Open</strong>!</p>
        <p>To become useful, <a href="http://github.vaibhavpandey.com/etoolkit">eToolkit</a> is grateful to below <strong>open-source</strong> projects which power it:</p>
        <ul>
            <li><a href="http://angularjs.org/">angular</a> by <a href="https://google.com">Google</a></li>
            <li><a href="http://purecss.io/">Pure</a> by <a href="https://github.com/yahoo">Yahoo</a></li>
            <li><a href="https://github.com/satazor/SparkMD5">SparkMD5</a> by <a href="https://github.com/satazor">André Cruz</a></li>
            <li><a href="https://github.com/davidchambers/Base64.js">Base64.js</a> by <a href="http://davidchambers.me">David Chambers</a></li>
            <li><a href="https://github.com/Caligatio/jsSHA">jsSHA</a> by <a href="https://github.com/Caligatio">Brian Turek</a></li>
            <li><a href="http://github.hubspot.com/pace/docs/welcome/">pace</a> by <a href="https://github.com/HubSpot">Hubspot</a></li>
        </ul>
    </div>
</div>
