<et-header></et-header>
<div class="et-content">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Basic</legend>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-3">
                    <label class="et-label" for="passgen-length">Length</label>
                    <select id="passgen-length" class="pure-input-1" ng-model="passgen_length">
                        <optgroup label="Weak">
                            <option ng-repeat="(k, v) in range(4, 15)" ng-selected="passgen_length == v" value="{{ v }}">{{ v }}</option>
                        </optgroup>
                        <optgroup label="Good">
                            <option ng-repeat="(k, v) in range(16, 31)" ng-selected="passgen_length == v" value="{{ v }}">{{ v }}</option>
                        </optgroup>
                        <optgroup label="Strong">
                            <option ng-repeat="(k, v) in range(32, 64)" ng-selected="passgen_length == v" value="{{ v }}">{{ v }}</option>
                        </optgroup>
                        <optgroup label="Very Strong">
                            <option ng-repeat="i in [128, 256, 512, 1024]" ng-selected="passgen_length == i" value="{{ i }}">{{ i }}</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Include</legend>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-3">
                    <label class="et-label" for="passgen-numbers">Numbers</label>
                    <label for="passgen-numbers" class="pure-checkbox">
                        <input id="passgen-numbers" type="checkbox" ng-model="passgen_numbers"> 0 1 2 3 4 5 6 7 8 9
                    </label>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <label class="et-label" for="passgen-symbols">Symbols</label>
                    <label for="passgen-symbols" class="pure-checkbox">
                        <input id="passgen-symbols" type="checkbox" ng-model="passgen_symbols"> ! @ # $ % ^ &amp; * + = - ~ &hellip;
                    </label>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <label class="et-label" for="passgen-lalpha">Lowercase Alphabets</label>
                    <label for="passgen-lalpha" class="pure-checkbox">
                        <input id="passgen-lalpha" type="checkbox" ng-model="passgen_lalpha"> a b c d e &hellip; v w x y z
                    </label>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <label class="et-label" for="passgen-ualpha">Uppercase Alphabets</label>
                    <label for="passgen-ualpha" class="pure-checkbox">
                        <input id="passgen-ualpha" type="checkbox" ng-model="passgen_ualpha"> A B C D E &hellip; V W X Y Z
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Exclude</legend>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-3">
                    <label class="et-label" for="passgen-noambigious">Ambigious Characters</label>
                    <label for="passgen-noambigious" class="pure-checkbox">
                        <input id="passgen-noambigious" type="checkbox" ng-model="passgen_noambigious"> i, I, l, 1, o, 0, O &hellip;
                    </label>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <label class="et-label" for="passgen-noduplicate">Duplicate Characters</label>
                    <label for="passgen-noduplicate" class="pure-checkbox">
                        <input id="passgen-noduplicate" type="checkbox" ng-model="passgen_noduplicate"> D d, U u, F f &hellip;
                    </label>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <label class="et-label" for="passgen-nospecial">Special Characters</label>
                    <label for="passgen-nospecial" class="pure-checkbox">
                        <input id="passgen-nospecial" type="checkbox" ng-model="passgen_nospecial"> ' " ` ( ) { } [ ] / \
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Generate</legend>
            <input type="text" placeholder="Generated password" class="pure-input-1" ng-model="passgen_password">
            <label for="passgen-save" class="pure-checkbox">
                <input id="passgen-save" type="checkbox" ng-model="passgen_save"> Save settings
            </label>
        </fieldset>
        <button type="button" class="pure-button pure-button-primary" ng-click="generate()">Generate</button>
    </form>
</div>
